.about-us {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.about-us h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
}

.about-us h2 {
    color: #666;
    font-size: 1.5em;
    margin-top: 20px;
}

.about-us ul {
    list-style-type: none;
    padding: 0;
}

.about-us ul li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}