.container {
  display: flex;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  height: fit-content;
  width: 100vw;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.button {
  color: white;
  padding: 10px;
  background-color: #1a8488;
  border-radius: 10px;
  margin-top: -10px;
}

.link-text:hover {
  color: #1a8488;
  transition: 300ms;
  cursor: pointer;
}

.button:hover {
  background-color: #f7a92f;
  transition: 300ms;
  cursor: pointer;
}

.home {
  padding: 25px;
}