@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  display: flex;
  overflow-x: hidden;
  height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  font-family: 'Roboto';
}

.navbar {
  z-index: 2;
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 8vh;
  width: 100vw;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.button {
  color: white;
  padding: 10px;
  background-color: #1a8488;
  border-radius: 10px;
  margin-top: -10px;
}

.link-text:hover {
  color: #1a8488;
  transition: 300ms;
  cursor: pointer;
}

.button:hover {
  background-color: #f7a92f;
  transition: 300ms;
  cursor: pointer;
}

.quote {
  width: 100%;
  margin-top: 15vh;
  word-wrap:normal;
  padding-left: 25px;
  scroll-margin: 15vh;
}

.products-page, .services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin: 10vh;
}

.section-title {
  font-size: 32px;
  margin: 2vh;
  font-weight: 700;
  color: #f7a92f;
}

.card {
  flex: 1 1 20vw; 
  min-height: 24vh;
  max-width: 24vw; 
  margin: 10px; 
  border: 1px solid #1a8488;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 3px 21px -10px rgba(0,0,0,0.75);

}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.card-title {
  font-weight: 700;
}

.service-card {
  display: flex;
  padding: 10px;
  margin-block: 20px;
  border-radius: 10px;
  border: 1px #f7a92f solid;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  box-shadow: 1px 3px 74px -141px rgba(0,0,0,0.75);
  transition: transform 0.5s ease;
}

.directionBtn {
  border-radius: 65%;
  color: #ffffff;
  background-color: #1a8488;
  font-weight:900;
  font-size: 200%;
  text-align: center;
  padding-inline: 0.8%;
  padding-bottom: 0.5%;
}

.directionBtn:hover{
  color: #1a8488;
  background-color: #f7a92f;
}